[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[scripts]
clubbi_sls_utils_deploy_lambda_layer = "python src/deploy_lambda_layer.py"
[requires]
python_version = "3.11"
